.card {
  background: rgba(242, 242, 242, 0.89);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  /* min-width: 400px;
  min-height: 300px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 50vw;
  /* height: 20vh; */
}

.card:hover {
  background: rgba(242, 242, 242, 1);
  cursor: pointer;
}

.card > h2 {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 10px;
}

.card > p {
  padding: 10px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  align-self: center;
  /* font-size: 18px; */
}

.contain {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  /* height: 75vh; */
  margin-bottom: 15vh;
  /* overflow-x: auto; */
  flex-direction: column;
}

.title {
  text-align: right;
  margin-top: 15vh;
  font-size: 60px;
  margin-bottom: 0;
  margin-right: 10vw;
  color: #636363;
  font-family: "Courier New", Courier, monospace;
}

.link:hover {
  border: none !important;
}

.card > a {
  margin-right: 20px;
}

@media only screen and (max-width: 425px) {
  .title {
    margin-top: 30vh;
    color: #a0a0a0;
    /* margin-left: -5vw; */
    text-align: left;
  }

  .contain {
    /* height: 50vh; */
    /* margin-left: vw; */
    /* overflow-x: auto; */
    flex-direction: column;
    margin-left: 0;
  }

  .card {
    width: 70vw;
    /* height: 40vh; */
    margin: 10px;
    /* margin-left: -10vw; */
    flex-direction: column;
  }

  .card > a {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background: rgba(54, 56, 58, 0.89);
    color: #efefef;
  }
  .card:hover {
    background: rgba(54, 56, 58, 1);
  }
  .title {
    color: #8e8e8e;
  }
}
