.contain {
  background: rgba(255, 255, 255, 1);
  width: 50vw;
  border-radius: 5px;
  /* height: 70vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
  margin-top: 10vh;
  /* overflow: scroll; */
}

pre {
  white-space: pre-wrap !important;
  overflow: scroll !important;
  width: inherit;
}

pre[class*="language-"] {
  white-space: pre-wrap !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.contain > h2 {
  font-size: 48px;
  text-align: center;
}

.content {
  font-size: 18px;
  padding: 15px;
  align-self: flex-start;
  overflow-wrap: break-word;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 1.5;
}

.content > p > a {
  color: #0d328f;
}

.contain > a {
  margin-bottom: 20px;
}

.content > p > img {
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

blockquote {
  color: #919191;
  font-style: italic;
  text-align: right;
}

@media only screen and (max-width: 1064px) {
  .contain {
    width: 80vw;
  }

  .content {
    width: 70vw;
    overflow-wrap: break-word;
    hyphens: auto;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    margin-top: 30vh;
    margin-left: -5vw;
  }

  .contain {
    width: 80vw;
  }

  .content {
    width: 70vw;
    overflow-wrap: break-word;
    hyphens: auto;
    word-wrap: break-word;
  }
}
