html,
body {
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  background: url("https://res.cloudinary.com/dknopoff/image/upload/f_auto,fl_force_strip.progressive/v1531064422/bg3.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #3b3b3b;
  font-family: "Montserrat", sans-serif;
  font-display: auto;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom: 1px solid #595959;
  color: #595959;
}

.active {
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

h1,
h4 {
  color: #333333;
}

h1 {
  font-weight: 500;
}

h4 {
  font-style: italic;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

pre {
  white-space: pre-wrap !important;
  overflow: scroll !important;
  width: inherit;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap !important;
}

pre {
  white-space: pre-wrap !important;
  overflow: scroll !important;
  width: inherit;
}

pre[class*="language-"] {
  white-space: pre-wrap !important;
  padding-left: 2vw;
  padding-right: 2vw;
}

video {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

blockquote {
  color: #919191;
  font-style: italic;
  text-align: right;
}

@media only screen and (max-width: 425px) {
  video {
    height: 350px !important;
  }
}

@media (prefers-color-scheme: dark) {
  blockquote {
    color: #f9f9f9;
  }
  video {
    height: 150px !important;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    background: url("https://res.cloudinary.com/dknopoff/image/upload/f_auto/v1520699518/portfolio/bg3.jpg")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #efefef;
  }

  h1,
  h4 {
    color: #efefef;
  }
}
